@inherits LayoutComponentBase

<header>
    <h1>GAMELAND</h1>
    <p>Twój sklep z grami – najnowsze tytuły i promocje!</p>
</header>

<nav>
    <a href="/">Strona główna</a>
    <a href="#">Gry PC</a>
    <a href="#">Gry Konsolowe</a>
    <a href="#">Gry Planszowe</a>
    <a href="#">Kontakt</a>
</nav>

<main>
    @Body
</main>

<footer>
    &copy; 2025 GAMELAND – sklep z grami. Wszelkie prawa zastrzeżone. Kacper Kamoda 106422 Łódź
</footer>